# VISA library
pyvisa >= 1.9
pyvisa-py >= 0.3
pyvisa-sim >= 0.3

# Scientific computation
numpy >= 1.13.0
pandas >= 0.25.0

# Plotting and graphing
matplotlib >= 3.0.3


# Optional dependencies for data files
pytables [hdf5] >= 3.5.2
feather-format [feather] >= 0.4.1